.menu{
    @apply pl-10 py-3 hover:bg-red-800 font-bold flex flex-row;
}

.contenedor{
    @apply container mx-auto w-10/12;
}

.boton-azul{
    @apply py-2 px-7 rounded-full bg-blue-900 text-white hover:bg-red-800;
}
.boton-gris{
    @apply py-2 px-7 rounded-full border-2 border-blue-900 mr-4 hover:bg-red-800 hover:text-white hover:border-red-800;
}

.th-tabla{
    @apply px-4 py-3 bg-blue-900 text-white;
}

.tbody-tabla{
    @apply divide-y-2 divide-gray-200 divide-solid text-sm;
}

/*formulario*/

.titulo-form{
    @apply text-4xl font-bold py-10;
}

.inputs{
    @apply rounded py-1 pl-2 mt-2 mb-3 focus:outline-none focus:ring-2 focus:ring-blue-800 shadow-sm;
}


.modal{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, .8);
    transform: scale(0);
    transition: transform .2s;

}

.modal .contenedor{
    @apply bg-gray-100;
    width: 50%;
    height: 80%;
}

.moda .header{
    @apply bg-gray-800 py-2 px-2 text-white font-bold;
}

.modal .contenido{
    width: 90%;
    height: 80%;
    margin: auto;
    overflow-y: scroll;
}
.modal-mostrar{
    transform: scale(1);
}